    <h1>Все товары</h1>
    <h3>@Model.CurrCategory</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (Product product in Model.AllProducts)
            {
                @Html.Partial("AllProducts", product)
            }
        }
    </div>